<div id="location-map"></div>

<div>
  <span class="mdc-typography--caption"><strong>Ano:</strong> <%= Time.zone.now.year %></span><br/>
  <span class="mdc-typography--caption">
    <strong>Fonte:</strong> <a href="https://brasil.io/dataset/covid19/caso" target="_blank">Brasil.IO</a>
  </span>
</div>

<br/><hr/><br/>

<canvas id="casesByDateChat"></canvas>
<div>
  <span class="mdc-typography--caption"><strong>Ano:</strong> <%= Time.zone.now.year %></span><br/>
  <span class="mdc-typography--caption">
    <strong>Fonte:</strong> <a href="https://covid19-brazil-api.now.sh/" target="_blank">Covid19 Brazil API</a>
  </span>
</div>
<% content_for :javascript do %>
  <script>
    var DATES = <%= raw @cases_by_date.map { |c| c.date.strftime('%d/%m') } %>
    var CASES = <%= raw @cases_by_date.map { |c| c.cases } %>
    var DEATHS = <%= raw @cases_by_date.map { |c| c.deaths } %>
  </script>
  <%= javascript_pack_tag 'chart', 'data-turbolinks-track': 'reload' %>
<% end %>

<script type="text/javascript">
  var map = L.map('location-map').setView([<%= @brazil.coordinates[0] %>, <%= @brazil.coordinates[1] %>], 4);

  mapLink = '<a href="https://openstreetmap.org">OpenStreetMap</a>';

  L.tileLayer(
    'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; ' + mapLink,
    maxZoom: 20,
  }).addTo(map);

  <% @cities.each do |city| %>
    <% unless city.coordinates.nil? %>
      L.circleMarker(L.latLng(<%= city.coordinates[0] %>, <%= city.coordinates[1] %>), {
        radius: <%= (20 * city.confirmed) / @max_confirmed %>,
        color: 'red',
        fillColor: 'red',
        fillOpacity: 0.5,
        weight: 0
      }).addTo(map);
    <% end %>
  <% end %>
</script>
