<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 sidebar">
      <h1 class="mdc-typography--headline3">COVID-19 Brasil</h1>
      
      <h2 class="mdc-typography--headline5">Total de casos confirmados</h2>

      <span class="total-confirmed"><%= @total_confirmed %></span>

      <h3>Total mortes: <%= @deaths %></h2>

      <h3>Casos recuperados: <%= @recovered %></h2>

      <ul class="mdc-list">
        <% @states.each do |state| %>
          <li class="mdc-list-item">
            <%= state.name %>
            <span class='mdc-list-item__meta'><%= state.cases %></span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
      <canvas id="myChart" width="400" height="200"></canvas>
    </div>
  </div>
</div>
<% content_for :javascript do %>
  <script>
    var DATES = <%= raw @cases_by_date.map{ |c| c.date.to_s } %>
    var CASES = <%= raw @cases_by_date.map{ |c| c.cases } %>
    var DEATHS = <%= raw @cases_by_date.map{ |c| c.deaths } %>
  </script>
  <%= javascript_pack_tag 'chart', 'data-turbolinks-track': 'reload' %>
<% end %>