<canvas id="casesByDateChat"></canvas>
<div>
  <span class="mdc-typography--caption"><strong>Ano:</strong> <%= Time.zone.now.year %></span><br/>
  <span class="mdc-typography--caption"><strong>Fonte:</strong> <a href="https://covid19-brazil-api.now.sh/" target="_blank">Covid19 Brazil API</a></span>
<div>
<% content_for :javascript do %>
  <script>
    var DATES = <%= raw @cases_by_date.map { |c| c.date.strftime('%d/%m') } %>
    var CASES = <%= raw @cases_by_date.map { |c| c.cases } %>
    var DEATHS = <%= raw @cases_by_date.map { |c| c.deaths } %>
  </script>
  <%= javascript_pack_tag 'chart', 'data-turbolinks-track': 'reload' %>
<% end %>