<p><b>Cidade:</b> <%= @city.name %></p>
<p><b>Casos confirmados:</b> <%= number_with_delimiter(@city.confirmed, delimiter: '.') %></p>
<p><b>Mortes:</b> <%= number_with_delimiter(@city.deaths, delimiter: '.') %></p>

<div class="panel mdc-elevation--z4">
  <canvas id="casesByStateChart"></canvas>

  <span class="mdc-typography--caption">
    <strong>Fonte:</strong> <a href="https://covid19-brazil-api.now.sh/" target="_blank">Covid19 Brazil API</a>
  </span>
</div>

<% content_for :javascript do %>
  <script>
    var DATES = <%= raw @dates %>
    var CASES = <%= raw @confirmed %>
    var DEATHS = <%= raw @city_deaths %>
  </script>
  <%= javascript_pack_tag 'chart_by_state', 'data-turbolinks-track': 'reload' %>
<% end %>
