<!DOCTYPE html>
<html>
  <head>
    <title>Coronavirus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "https://www.google.com/jsapi","chartkick" %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    
  </head>

  <body class="mdc-typography">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3 sidebar">
          <h1 class="mdc-typography--headline3">COVID-19 Brasil</h1>
          
          <h2 class="mdc-typography--headline5">Total de casos confirmados</h2>

          <span class="total-confirmed"><%= @total_confirmed %></span>

          <h3>Total mortes: <%= @deaths %></h2>

          <h3>Casos recuperados: <%= @recovered %></h2>

          <ul class="mdc-list">
            <% @states.each do |state| %>
              <li class="mdc-list-item">
                <%= link_to state_cities_path(state) do %>
                  <%= state.name %>
                  <span class='mdc-list-item__meta'><%= state.cases %></span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= yield :javascript %>
</html>
